/*
	Blazardsky - about.css
	blazardsky.space
	Niccolò Agnoletti
*/

#profilepic {
	margin: 1.5rem;
	width: 500px;
	height: 500px;
	background-color: #000;
	background-image: url('../multimedia/blazardsky.jpg') no-repeat center center scroll;
	border-radius: 50%;
	transition: background-image .75s;
}
#profilepic:hover {
	animation-name: sfocatura;
	animation-duration: .5s;
	animation-timing-function: ease-out;
	background-image: url('../multimedia/nic.jpg') no-repeat center center scroll;
}


@keyframes sfocatura {
	0%, 100% {
		-webkit-filter: blur(0px);
		filter: blur(0px);
	}
	50% {
		-webkit-filter: blur(3px);
		filter: blur(3px);	
	}
}