#container {
	width: 100%;
	height: 100%;
	padding: 3.625em;
}
#content { 
	background: #f1f1f1;
	color: #4d004d;
	text-align: center;
	margin: auto;
	width: 100%;
	height: 100%;
}

#content a { color: #000000; } 
#profilepic { margin-bottom: 4em; }
#profilepic:hover {
	-webkit-filter: blur(3px);
	filter: blur(3px);
}