.vhs-overlay {
	position: absolute;
	background: url('B:\\Nic\\Pictures\\vhs\\vhs overlay 4.png') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	mix-blend-mode: lighten;
	z-index: 9;
}

#music {
	background-color: #663399;
	float: right;
	margin: auto;
	padding: 0px 15px;
	text-align: center;
	vertical-align: middle;
	font-size: 1em;
	mix-blend-mode: lighten;
}

#blazardsky {
	position: absolute;
	margin: auto;
	text-align: center;
	height: 100%;
	width: 100%;
	z-index: -1;
}
#blazardsky > h1 {
	font-size: 8.725em;
	mix-blend-mode: lighten;
	color: #ffffff;
}