#music {
	background-color: #663399;
	float: right;
	margin: auto;
	padding: 0px 15px;
	text-align: center;
	vertical-align: middle;
	font-size: 1em;
	mix-blend-mode: lighten;
}

#blazardsky {
	position: absolute;
	margin: auto;
	text-align: center;
	height: 100%;
	width: 100%;
	z-index: -1;
	color: #ffffff;
	mix-blend-mode: overlay;
}

#blazardsky:hover {
	color: #663399;
	mix-blend-mode: multiply;
}

#blazardsky > h1 {
	font-size: 8.725em;
}

#blazardsky:hover #bgvideo {
	-webkit-filter: blur(5px);
	filter: blur(5px);
}

#bgvideo {
	z-index: -2;
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}


@media only screen and (max-width: 1080px) {
	#blazardsky > h1 {
		font-size: 4.725em;
	}
	#bgvideo { display: none; }
}