#grid-image-popup {
	height: 100%;
	width: 100%;
	position: absolute;
	z-index: 999;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: #0a0a0a;
	display: flex;
	align-items: center;
	justify-content: center;
	align-content: center;
	text-align: left;
	flex-direction: column;
}

.card, 
.card > .card-img-top {
	border-radius: 0;
}

#grid-image-popup .card {
	background: #0a0a0a;
	color: #1f1f1f;
	
}
#grid-image-popup .card > .card-img-top {
	margin: .825em;
	max-height: 40vh;
	width: auto;
}

.grid-img-data {
	cursor: pointer;
}