#page-loading-container,
#grid-image-popup {
	height: 100%;
	width: 100%;
	position: absolute;
	z-index: 999;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
#page-loading-container {
	background: #0a0a0a;
	color: #a0a0a0;
	display: block;
}

#grid-image-popup {
	display: flex;
	align-items: center;
	justify-content: center;
	align-content: center;
	text-align: left;
	flex-direction: column;
}

#grid > .card, 
#grid > .card > .card-img, 
#grid > .card > .card-img-top {
	border-radius: 0;
}