#grid-image-popup {
	height: 100%;
	width: 100%;
	position: fixed;
	z-index: 999;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: #1a1a1a;
	color: #f1f1f1;
	display: flex;
	align-items: center;
	justify-content: center;
	align-content: center;
	text-align: left;
	flex-direction: column;
}

#grid > .card, 
#grid > .card > .card-img-top {
	border-radius: 0;
}

.grid-img-data {
	cursor: pointer;
}